.logo {
  color: #fff;
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 2rem;
  height: 32px;
  margin: 16px;
  padding-left: 14px;

  & a {
    color: #fff;
  }
}

.site-layout .site-layout-background {
  background: #fff;
}
[data-theme='dark'] .site-layout .site-layout-background {
  background: #141414;
}
