.logo {
  color: #fff;
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 2rem;
  height: 32px;
  // background: rgba(70, 31, 243, 0.1);
  margin: 16px;
  padding-left: 14px;
}

.site-layout .site-layout-background {
  background: #fff;
}
[data-theme='dark'] .site-layout .site-layout-background {
  background: #141414;
}
